.btn {
    width: 25px;
    height: 25px;
    font-size: 20px;
    background-color: #fff;
    border: none;
    margin: 0;
    color: #000;
    cursor: pointer;
}

.top-row {
    display: flex;
    justify-content: space-between;
}