<div class="container">
    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Nume / Prenume</th>
            <th>CNP</th>
            <th>Varsta</th>
            <th>Masini detinute</th>
            <th class="plus">
                <button class="plus btn" (click)="openDialog()">
                    <fa-icon [icon]="faPlus"></fa-icon>
                </button>
            </th>
        </tr>
        <tr *ngFor="let persoana of persoane">
            <td>{{persoana.id}}</td>
            <td>{{persoana.nume + ' ' + persoana.prenume}}</td>
            <td>{{persoana.cnp}}</td>
            <td>{{persoana.varsta}}</td>
            <ng-multiselect-dropdown
            [placeholder]="'Selecteaza o masina'"
            [settings]="dropdownSettings"
            [data]="dropdownList"
            >
            </ng-multiselect-dropdown>
            <td class="trash">
                <button class="trash btn">
                    <fa-icon [icon]="faTrash"></fa-icon>
                </button>
            </td>
        </tr>      
    </table>
</div>
